* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 2rem 1rem;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* SISTEMAMI */
/* .background {
    height: 100vh;
    width: 100vw;
} */

/* SLIDER */
.hero__slider {
    margin: 0 auto;
    max-width: 1200px;
    height: 600px;
    display: flex;
}

.hero__preview {
    flex: 1 1 70%;
    position: relative;
    display: none;
}

.hero__preview.active {
    display: block;
}

.hero__description {
    color: white;
    max-width: 500px;
    text-align: right;
    margin: 0 2rem 2rem 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero__description p {
    font-size: 18px;
    margin-top: 1rem;
    line-height: 1.5;
}

.hero__thumb {
    flex: 1 1 30%;
    height: 100%;
    position: relative;
}

.hero__thumb img {
    filter: brightness(.4);
    height: calc(100% / 5);
}

.hero__thumb img.selected {
    filter: brightness(1);
    border: 1px solid white;
}

.control-up {
    background-image: linear-gradient(rgba(255, 255, 255, .9), transparent 90%);
    background-color: rgba(255, 255, 255, .1);
    color: white;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
}

.control-down {
    background-image: linear-gradient(transparent, rgba(255, 255, 255, .9));
    background-color: rgba(255, 255, 255, .1);
    color: white;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.control-up:hover, .control-down:hover {
    background-color: rgba(255, 255, 255, .5);
}

.button__controls {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.button__controls button {
    height: 2rem;
    width: 150px;
}
