<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Slider</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script>
    <script src="javascript/script.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app">

        <!-- <div class="background" :style="{'background-image': `url('img/${objSlide[indexImage].image}')`}"> -->

            <div class="hero__slider">
                
                <div class="hero__preview" v-for="(slide, i) in objSlide" :class="i === indexImage ? 'active' : '' " @mouseenter="pauseAutoplay" @mouseleave="resumeAutoplay">
                    <img :key="slide.name" :src="'img/' + slide.image" :alt="slide.title">
                    <div class="hero__description">
                        <h1>{{ slide.title }}</h1>
                        <p> {{ slide.text }}</p>
                    </div>
                </div>
                
                <div class="hero__thumb">
                    <img 
                        v-for="(slide, i) in objSlide"
                        :src="'img/' + slide.image"
                        :alt="slide.title"
                        :class="i === indexImage ? 'selected' : ''"
                        @click="setActiveIndex(i)"
                    >
    
                    <div class="control-up" @click="changeSlide(-1)">
                        <i class="fa-solid fa-chevron-up"></i>
                    </div>
                    <div class="control-down" @click="changeSlide(1)">
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>

                </div>
            </div>

            <div class="button__controls">
                <button class="stop__button" @click="isAutoplayActive ? stopAutoplay() : startAutoplay()">{{ isAutoplayActive ? 'stop' : 'start' }}</button>
                <button @click="invertAutoplay()">Invert</button>
            </div>
        </div>


    </div>
</body>
</html>